PORT=4000
DATABASE_URL=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
WEB_URL=http://localhost:3000
GEMINI_API_KEY=
GROQ_API_KEY=
RESEND_API_KEY=
FROM_EMAIL=reminders@subtrack.app
VAPID_EMAIL=mailto:admin@subtrack.app
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_PRICE_ID=
